/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--primary-font-family);
  font-size: var(--font-size);
  font-variation-settings: "wghе" var(--card-text-weight);
  background-image: var(--first-stripes-gradient),
  var(--second-stripes-gradient),
  var(--third-stripes-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: var(--secondary-font-family);
  background-color: white;
  inline-size: var(--header-width);
  block-size: var(--header-height);
  outline: 2px solid black;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}

.header h1 {
  font-size: var(--header-title-size);
}

.header h2 {
  font-size: var(--header-subtitle-size);
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 98px;
  margin-bottom: 100px;
}

.card {
  position: relative;
  inline-size: var(--header-width);
  background-color: white;
  border: 2px solid black;
  box-sizing: border-box;
}

.card__title__block img {
  display: block;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.card__title__block h3 {
  margin: 6px 0 3px 11px;
  font-size: var(--font-size);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 22px 25px 25px 25px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__like-button {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  border: 2px solid black;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 14px;
  width: 130px;
  height: 37px;
}

.floppy__button {
  margin: 0 auto;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 14px;
  width: 335px;
  height: 55px;
}

.floppy__button_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.floppy-icon {
  width: var(--floppy-icon-width);
  height: var(--floppy-icon-width);
}

.first_sprint_start img {
  filter: grayscale(70%);
}

.first_sprint_end img {
  filter: saturate(300%);
}

.second_sprint_start img {
  filter: hue-rotate(35deg);
}

.second_sprint_end img {
  filter: invert(80%);
}

.third_sprint_start img {
  filter: sepia(90%);
}

.third_sprint_end img {
  filter: blur(15px);
}

.fourth_sprint img {
  filter: invert(20%) brightness(115%) hue-rotate(85deg) blur(3px);
}

.blur {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  overflow: hidden;
}

.second_sprint_end img,
.third_sprint_end img,
.fourth_sprint img {
  border: none;
}