/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--primary-font-family);
  font-variation-settings: "wghе" var(--card-text-weight);
  background-image: var(--first-stripes-gradient),
  var(--second-stripes-gradient),
  var(--third-stripes-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  font-family: var(--secondary-font-family);
  background-color: white;
  inline-size: var(--header-width);
  block-size: var(--header-height);
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  gap: 20px;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
}

.header h1 {
  font-size: 65px;
}

.header h2 {
  font-size: 23px;
  text-align: center;
}

.cards {
  display: grid;
  gap: 50px;
  inline-size: var(--header-width);
  margin: 0 auto;
  margin-top: 100px;
}

.card {
  background-color: white;
  border: 2px solid black;
}